.tree_wrap {
    justify-self: center;
    width: 99vw;
    height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: #fafafa;
}

.node__root > circle {
    fill: rgb(0, 47, 103);
}

.node__branch > circle {
    fill: rgb(45, 117, 199);
}

.node__leaf > circle {
    fill: rgb(102, 150, 255);
}

.rd3t-label {
    outline-style: groove;
    outline-color: rgba(0, 0, 0, 0.2);
    fill: #ffffff;
}

.rd3t-label > text {
    fill: rgba(0, 0, 0, 0.7);
}

.node__branch > g > text > tspan {
    text-anchor: middle;
    alignment-baseline: central;
    font-size: 0.8rem;
}

.rd3t-label > .rd3t-label__title {
    fill: rgb(45, 117, 199);
    text-decoration: underline;
}
